@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fcf9f9;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #5bcab5;
    pointer-events: none;
    margin-right: 230px;
}

.navigation a {
    text-decoration: none;
    color: #519e8f;
    padding: 6px 15px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #359381;
    color: #f9f9f9;
}

.weather {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
    text-align: center;
}

#text {
    font-size: 5em;
    color: rgb(64, 62, 62);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.weather img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: -1;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px 10px;
    text-align: center;
}

.sec h2 {
    font-size: 3em;
    color: #f8eeee;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.left-side, .right-side {
    width: 100%;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon-location {
    background-image: url("location.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-email {
    background-image: url("mail.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-phone {
    background-image: url("mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #359381;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.container {
    background-color: #333;
    color: #060606;
    padding: 20px;
}

.weather-info {
    margin-top: 0;
    font-size: xx-large;
    align-items: center;
    color: #ece6e6;
    text-shadow: #060606;
}

h2 {
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    header {
        padding: 30px 5%;
    }

    .logo {
        margin-right: 370px;
        margin-top: -10px;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    #text {
        font-size: 3em;
    }

    .sec {
        padding: 50px 10px;
    }

    .sec h2 {
        font-size: 2em;
    }

    .left-side, .right-side {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px;
        flex-direction: column;
    }

    .navigation {
        display: none; /* Hide the navigation bar on mobile view */
    }

    #text {
        font-size: 2.5em;
    }

    .sec h2 {
        font-size: 1.5em;
    }

    /* Center the search bar and button */
    input[type="text"] {
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 20px;
    }
    .weather-info {
      margin-top: 0;
      font-size: xx-large;
      align-items: center;
      color: #060404;
      text-shadow: #060606;
  }
}
